<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <h1>{{ titleA }}</h1>
        <img src="{{ heroImageUrl2 }}"/>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <h1>{{ titleB }}</h1>
        <img src="{{ heroImageUrl }}"/>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">test
    </div>
  </div>
</div>


<div class = "container">
    <tabs></tabs>
    <my-vehicle-info-form></my-vehicle-info-form>
</div>
